body {
    background-image: url('./images/pandas-6954571_1920.jpg');
}

.cha {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.signup {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(143, 231, 200);
    border-radius: 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

input {
    width: 200px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 15px;
}

.submit {
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    margin-left: 50px;
}

.submit:hover {
    background-color: white;
    color: rgb(143, 231, 200);
}